In [1]:
import pandas as pd
import numpy as np

In [2]:
order_items = pd.read_csv('dataset/olist_order_items_dataset.csv')
orders = pd.read_csv('dataset/olist_orders_dataset.csv')

order_items = order_items.drop_duplicates(subset='order_id')
orders = orders.drop_duplicates(subset='order_id')

# 通过订单号合并买家和卖家
seller_customer = pd.merge(order_items, orders, on='order_id', how='inner')
# seller_customer = seller_customer[['order_id', 'customer_id', 'seller_id']]
# 筛选出时间shipping_limit_date为2018年6月的数据
seller_customer = seller_customer[seller_customer['shipping_limit_date'].str.contains('2018-06')]
seller_customer

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
27,00130c0eee84a3d909e75bc08c5c3ca1,1,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-06-14 05:16:24,27.90,7.94,47d656c08a282ec5ab4c1f18303a3a30,delivered,2018-06-11 21:17:00,2018-06-12 05:16:24,2018-06-12 14:22:00,2018-06-13 15:28:25,2018-06-20 00:00:00
91,003822434f91204da0a51fe4cf2aba18,1,99e71b776debf2f01a69dce207e3e4f8,c54679b132454625907c773d273d4126,2018-06-21 02:30:28,69.00,18.58,327679cc34d41d4c48ee5e55246aa6d6,delivered,2018-06-13 14:10:54,2018-06-15 02:37:21,2018-06-15 14:48:00,2018-06-19 13:34:35,2018-07-20 00:00:00
109,0045f5225a96ef46630701167528fdcb,1,86a11a09edde2267675505fc4d56d9b0,3db66a856d18a9cba7c9241fc5221c50,2018-06-19 04:17:48,94.90,15.51,e3b91047e6ca3f5e8b656750fa3d61b2,delivered,2018-06-10 11:23:39,2018-06-12 04:17:48,2018-06-13 14:32:00,2018-06-18 17:36:49,2018-07-04 00:00:00
110,0046176ff0dbc2a178b7885355dfbb71,1,19f0917ba5781b978298ffcd9ae225c1,43f8c9950d11ecd03a0304a49e010da6,2018-06-06 19:35:18,121.99,15.73,6cae94f1f58ab679c23ceb753967c9bf,delivered,2018-05-29 19:22:17,2018-05-29 19:35:18,2018-05-30 11:29:00,2018-06-04 18:18:29,2018-06-29 00:00:00
117,004ca5ae248069d68e8594df8abf6ce0,1,cd71c76f5ab15f51f24fb214fc42d8ab,620c87c171fb2a6dd6e8bb4dec959fc6,2018-06-14 18:52:39,159.90,61.18,576908744ae56c9cf061c40a434e2a24,delivered,2018-06-06 18:30:20,2018-06-06 18:52:39,2018-06-07 14:17:00,2018-06-15 22:12:30,2018-07-26 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98587,ffc97f5975c4aa1b3c9754d83050c73d,1,1c4dbd58e9b07007a271122f96bb0add,c33847515fa6305ce6feb1e818569f13,2018-06-28 01:30:35,149.00,41.33,2713513e2014d3d6181fd3ed037d4a80,delivered,2018-06-22 00:13:26,2018-06-23 01:40:06,2018-06-27 11:45:00,2018-07-11 23:08:37,2018-08-06 00:00:00
98589,ffcb98e21b0bf085baf42b16a67732ef,1,0c398b245c9b74ef2bf4343b6fe73237,bd4889b5e9133b35b66e42a8665cea5c,2018-06-14 14:53:16,91.80,7.51,d5b03af823742e307896a30d43e41340,delivered,2018-06-06 14:25:51,2018-06-06 14:53:16,2018-06-06 19:02:00,2018-06-12 17:03:31,2018-07-03 00:00:00
98614,ffdda91cd98d69f6be1cd352e4447b8e,1,1ec486885049bbb9b79351d150ed18c4,cab85505710c7cb9b720bceb52b01cee,2018-06-11 13:55:16,49.90,15.23,b9b441696ae97a6a6d884f8240949ab7,delivered,2018-06-03 13:43:44,2018-06-03 13:55:16,2018-06-04 13:49:00,2018-06-13 18:56:35,2018-07-11 00:00:00
98660,fffbee3b5462987e66fb49b1c5411df2,1,6f0169f259bb0ff432bfff7d829b9946,213b25e6f54661939f11710a6fddb871,2018-06-28 09:58:03,119.85,20.03,11a0e041ea6e7e21856d2689b64e7f3a,delivered,2018-06-19 09:27:48,2018-06-19 09:58:03,2018-06-29 13:46:00,2018-07-05 17:51:08,2018-07-23 00:00:00
98665,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00

In [4]:
customers = pd.read_csv('dataset/olist_customers_dataset.csv')
sellers = pd.read_csv('dataset/olist_sellers_dataset.csv')
geolocation = pd.read_csv('dataset/olist_geolocation_dataset.csv')

seller_customer = pd.merge(seller_customer, customers[['customer_id', 'customer_zip_code_prefix']], on='customer_id', how='left')
seller_customer = pd.merge(seller_customer, sellers[['seller_id', 'seller_zip_code_prefix']], on='seller_id', how='left')

seller_customer

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_zip_code_prefix,seller_zip_code_prefix
0,00130c0eee84a3d909e75bc08c5c3ca1,1,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-06-14 05:16:24,27.90,7.94,47d656c08a282ec5ab4c1f18303a3a30,delivered,2018-06-11 21:17:00,2018-06-12 05:16:24,2018-06-12 14:22:00,2018-06-13 15:28:25,2018-06-20 00:00:00,9820,12940
1,003822434f91204da0a51fe4cf2aba18,1,99e71b776debf2f01a69dce207e3e4f8,c54679b132454625907c773d273d4126,2018-06-21 02:30:28,69.00,18.58,327679cc34d41d4c48ee5e55246aa6d6,delivered,2018-06-13 14:10:54,2018-06-15 02:37:21,2018-06-15 14:48:00,2018-06-19 13:34:35,2018-07-20 00:00:00,20040,11443
2,0045f5225a96ef46630701167528fdcb,1,86a11a09edde2267675505fc4d56d9b0,3db66a856d18a9cba7c9241fc5221c50,2018-06-19 04:17:48,94.90,15.51,e3b91047e6ca3f5e8b656750fa3d61b2,delivered,2018-06-10 11:23:39,2018-06-12 04:17:48,2018-06-13 14:32:00,2018-06-18 17:36:49,2018-07-04 00:00:00,35519,35430
3,0046176ff0dbc2a178b7885355dfbb71,1,19f0917ba5781b978298ffcd9ae225c1,43f8c9950d11ecd03a0304a49e010da6,2018-06-06 19:35:18,121.99,15.73,6cae94f1f58ab679c23ceb753967c9bf,delivered,2018-05-29 19:22:17,2018-05-29 19:35:18,2018-05-30 11:29:00,2018-06-04 18:18:29,2018-06-29 00:00:00,34007,6341
4,004ca5ae248069d68e8594df8abf6ce0,1,cd71c76f5ab15f51f24fb214fc42d8ab,620c87c171fb2a6dd6e8bb4dec959fc6,2018-06-14 18:52:39,159.90,61.18,576908744ae56c9cf061c40a434e2a24,delivered,2018-06-06 18:30:20,2018-06-06 18:52:39,2018-06-07 14:17:00,2018-06-15 22:12:30,2018-07-26 00:00:00,66093,25645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6008,ffc97f5975c4aa1b3c9754d83050c73d,1,1c4dbd58e9b07007a271122f96bb0add,c33847515fa6305ce6feb1e818569f13,2018-06-28 01:30:35,149.00,41.33,2713513e2014d3d6181fd3ed037d4a80,delivered,2018-06-22 00:13:26,2018-06-23 01:40:06,2018-06-27 11:45:00,2018-07-11 23:08:37,2018-08-06 00:00:00,23060,88359
6009,ffcb98e21b0bf085baf42b16a67732ef,1,0c398b245c9b74ef2bf4343b6fe73237,bd4889b5e9133b35b66e42a8665cea5c,2018-06-14 14:53:16,91.80,7.51,d5b03af823742e307896a30d43e41340,delivered,2018-06-06 14:25:51,2018-06-06 14:53:16,2018-06-06 19:02:00,2018-06-12 17:03:31,2018-07-03 00:00:00,11700,2963
6010,ffdda91cd98d69f6be1cd352e4447b8e,1,1ec486885049bbb9b79351d150ed18c4,cab85505710c7cb9b720bceb52b01cee,2018-06-11 13:55:16,49.90,15.23,b9b441696ae97a6a6d884f8240949ab7,delivered,2018-06-03 13:43:44,2018-06-03 13:55:16,2018-06-04 13:49:00,2018-06-13 18:56:35,2018-07-11 00:00:00,72315,2252
6011,fffbee3b5462987e66fb49b1c5411df2,1,6f0169f259bb0ff432bfff7d829b9946,213b25e6f54661939f11710a6fddb871,2018-06-28 09:58:03,119.85,20.03,11a0e041ea6e7e21856d2689b64e7f3a,delivered,2018-06-19 09:27:48,2018-06-19 09:58:03,2018-06-29 13:46:00,2018-07-05 17:51:08,2018-07-23 00:00:00,39401,13321
6012,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00,18605,14940

In [5]:
geolocation.drop_duplicates(subset='geolocation_zip_code_prefix', inplace=True)
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
5,1012,-23.547762,-46.635361,são paulo,SP
...,...,...,...,...,...
999774,99955,-28.107588,-52.144019,vila langaro,RS
999780,99970,-28.345143,-51.876926,ciriaco,RS
999786,99910,-27.863500,-52.084760,floriano peixoto,RS
999803,99920,-27.858716,-52.300403,erebango,RS
999846,99952,-28.160371,-51.936922,santa cecilia do sul,RS

In [6]:
# 合并卖家数据与地理位置信息
merged_data_seller = pd.merge(
    seller_customer, 
    geolocation[['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng']], 
    left_on='seller_zip_code_prefix', 
    right_on='geolocation_zip_code_prefix', 
    how='left'
)

# 重命名合并后的列，以区分这些列属于卖家
merged_data_seller.rename(columns={
    'geolocation_zip_code_prefix': 'seller_geo_zip_prefix',
    'geolocation_lat': 'seller_geo_lat',
    'geolocation_lng': 'seller_geo_lng'
}, inplace=True)

In [7]:
# 将买家的经纬度信息连接到买家数据
merged_data = pd.merge(
    merged_data_seller, 
    geolocation[['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng']], 
    left_on='customer_zip_code_prefix', 
    right_on='geolocation_zip_code_prefix', 
    how='left'
)

# 重命名合并后的列，以区分这些列属于买家
merged_data.rename(columns={
    'geolocation_zip_code_prefix': 'buyer_geo_zip_prefix',
    'geolocation_lat': 'buyer_geo_lat',
    'geolocation_lng': 'buyer_geo_lng'
}, inplace=True)

In [8]:
merged_data.dropna(inplace=True)
merged_data

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,order_delivered_customer_date,order_estimated_delivery_date,customer_zip_code_prefix,seller_zip_code_prefix,seller_geo_zip_prefix,seller_geo_lat,seller_geo_lng,buyer_geo_zip_prefix,buyer_geo_lat,buyer_geo_lng
0,00130c0eee84a3d909e75bc08c5c3ca1,1,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-06-14 05:16:24,27.90,7.94,47d656c08a282ec5ab4c1f18303a3a30,delivered,2018-06-11 21:17:00,...,2018-06-13 15:28:25,2018-06-20 00:00:00,9820,12940,12940.0,-23.112774,-46.548885,9820.0,-23.746060,-46.550430
1,003822434f91204da0a51fe4cf2aba18,1,99e71b776debf2f01a69dce207e3e4f8,c54679b132454625907c773d273d4126,2018-06-21 02:30:28,69.00,18.58,327679cc34d41d4c48ee5e55246aa6d6,delivered,2018-06-13 14:10:54,...,2018-06-19 13:34:35,2018-07-20 00:00:00,20040,11443,11443.0,-23.979550,-46.203193,20040.0,-22.906800,-43.176623
2,0045f5225a96ef46630701167528fdcb,1,86a11a09edde2267675505fc4d56d9b0,3db66a856d18a9cba7c9241fc5221c50,2018-06-19 04:17:48,94.90,15.51,e3b91047e6ca3f5e8b656750fa3d61b2,delivered,2018-06-10 11:23:39,...,2018-06-18 17:36:49,2018-07-04 00:00:00,35519,35430,35430.0,-20.415339,-42.891537,35519.0,-19.870118,-45.005695
3,0046176ff0dbc2a178b7885355dfbb71,1,19f0917ba5781b978298ffcd9ae225c1,43f8c9950d11ecd03a0304a49e010da6,2018-06-06 19:35:18,121.99,15.73,6cae94f1f58ab679c23ceb753967c9bf,delivered,2018-05-29 19:22:17,...,2018-06-04 18:18:29,2018-06-29 00:00:00,34007,6341,6341.0,-23.572419,-46.816531,34007.0,-20.063952,-43.981037
4,004ca5ae248069d68e8594df8abf6ce0,1,cd71c76f5ab15f51f24fb214fc42d8ab,620c87c171fb2a6dd6e8bb4dec959fc6,2018-06-14 18:52:39,159.90,61.18,576908744ae56c9cf061c40a434e2a24,delivered,2018-06-06 18:30:20,...,2018-06-15 22:12:30,2018-07-26 00:00:00,66093,25645,25645.0,-22.549033,-43.210095,66093.0,-1.438120,-48.465166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6008,ffc97f5975c4aa1b3c9754d83050c73d,1,1c4dbd58e9b07007a271122f96bb0add,c33847515fa6305ce6feb1e818569f13,2018-06-28 01:30:35,149.00,41.33,2713513e2014d3d6181fd3ed037d4a80,delivered,2018-06-22 00:13:26,...,2018-07-11 23:08:37,2018-08-06 00:00:00,23060,88359,88359.0,-27.141057,-48.961461,23060.0,-22.898387,-43.613084
6009,ffcb98e21b0bf085baf42b16a67732ef,1,0c398b245c9b74ef2bf4343b6fe73237,bd4889b5e9133b35b66e42a8665cea5c,2018-06-14 14:53:16,91.80,7.51,d5b03af823742e307896a30d43e41340,delivered,2018-06-06 14:25:51,...,2018-06-12 17:03:31,2018-07-03 00:00:00,11700,2963,2963.0,-23.485755,-46.702213,11700.0,-24.016284,-46.398436
6010,ffdda91cd98d69f6be1cd352e4447b8e,1,1ec486885049bbb9b79351d150ed18c4,cab85505710c7cb9b720bceb52b01cee,2018-06-11 13:55:16,49.90,15.23,b9b441696ae97a6a6d884f8240949ab7,delivered,2018-06-03 13:43:44,...,2018-06-13 18:56:35,2018-07-11 00:00:00,72315,2252,2252.0,-23.479317,-46.590434,72315.0,-15.895231,-48.111290
6011,fffbee3b5462987e66fb49b1c5411df2,1,6f0169f259bb0ff432bfff7d829b9946,213b25e6f54661939f11710a6fddb871,2018-06-28 09:58:03,119.85,20.03,11a0e041ea6e7e21856d2689b64e7f3a,delivered,2018-06-19 09:27:48,...,2018-07-05 17:51:08,2018-07-23 00:00:00,39401,13321,13321.0,-23.190244,-47.291571,39401.0,-16.717109,-43.807142
6012,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,...,2018-06-14 17:56:26,2018-06-28 00:00:00,18605,14940,14940.0,-21.766477,-48.831547,18605.0,-22.908684,-48.440255

In [ ]:
import folium

# 创建一个世界地图
m = folium.Map(location=[20, 0], zoom_start=2)

# 遍历数据框中的每一行
for idx, row in merged_data.iterrows():
    # 定义买家和卖家的位置
    seller_location = [row['seller_geo_lat'], row['seller_geo_lng']]
    buyer_location = [row['buyer_geo_lat'], row['buyer_geo_lng']]
    
    # # 添加卖家位置标记
    # folium.Marker(
    #     seller_location,
    #     popup='Seller',
    #     icon=folium.Icon(color='red', icon='info-sign')
    # ).add_to(m)

    # # 添加买家位置标记
    # folium.Marker(
    #     buyer_location,
    #     popup='Buyer',
    #     icon=folium.Icon(color='blue', icon='info-sign')
    # ).add_to(m)

    # 在买家和卖家之间画线
    folium.PolyLine(
        locations=[buyer_location, seller_location],
        color='green',
        weight=0.1,
        opacity=0.8
    ).add_to(m)

# 显示地图
m.save('seller_buyer_map.html')

In [ ]:
import folium

# 创建一个世界地图
m = folium.Map(location=[20, 0], zoom_start=2, tiles='Stamen Terrain')

# 遍历数据框中的每一行
for idx, row in merged_data.iterrows():
    seller_location = [row['seller_geo_lat'], row['seller_geo_lng']]
    buyer_location = [row['buyer_geo_lat'], row['buyer_geo_lng']]
    
    # 在地图上添加卖家位置标记
    folium.CircleMarker(
        seller_location,
        radius=0.01,
        color='red',
        fill=True,
        fill_color='red',
        popup='Seller'
    ).add_to(m)

    # 在地图上添加买家位置标记
    folium.CircleMarker(
        buyer_location,
        radius=0.01,
        color='blue',
        fill=True,
        fill_color='blue',
        popup='Buyer'
    ).add_to(m)

    # 在买家和卖家之间画线
    folium.PolyLine(
        locations=[buyer_location, seller_location],
        color='green',
        weight=0.2,
        opacity=0.8
    ).add_to(m)

# 显示地图
m.save('map.html')